<div class="easyui-layout" data-options="fit:true">
    <div class="indicator">>></div>
    <div data-options="region:'west',border:false" style="width: 200px">
        <div id="mainFieldList" class="easyui-panel" title="一级字段列表(拖动排序)" style="width:100%;height:100%;">
            <ul id="firstLevelFieldList" style="width: 200px;height: 100%;padding-left: 0px;">

            </ul>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="width: 1px">
        &nbsp;
    </div>
    <div data-options="region:'east',border:false" style="width: 200px;">
        <div id="subFieldList" class="easyui-panel" title="二级字段列表(拖动排序)" style="width:100%;height:100%;">
            <ul id="secondLevelFieldList" style="width: 200px;height: 100%; padding: 0;">
            </ul>
        </div>
    </div>
    <div data-options="region: 'south', border: false" style="height:55px;">
        <div style="text-align: center; margin-top:11px;">
            <a id="btnSaveView" class="easyui-linkbutton">应用设置</a>
            &nbsp;
            <a id="btnCancelView" class="easyui-linkbutton">关闭窗口</a>
        </div>
    </div>
</div>
